@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
