.my-problems-full {
  flex: 1;
  background-color: white;
}

.my-problems-container {
  overflow: auto;
  max-width: 900px;
  padding-bottom: 250px;
  margin: 30px auto;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
}

.create-problem-button {
  margin: 10px;
  text-align: justify;
}

#problem-name-input {
  width: 100%;
  padding: 3px;
  margin-top: 5px;
}
