#header-container {
  border-bottom: 1px solid rgba(189, 189, 189, 0.5);
  /* background-color: white; */
}

.header-no-bg {
  background: none;
}

.header-bg-white {
  background-color: white;
}

/* .navbar {
  max-height: 60px;
} */
.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.route-link {
  margin: 0px 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  padding-top: 5px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.route-link:hover {
  color: #8c30f5;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.route-selected {
  color: #8c30f5;
}

.header-logo {
  padding-bottom: 5px;
}

.header-button {
  height: 40px;
  margin: 0 8px;
  font-size: 17px;
  border: 0;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-login-button {
  padding: 7px 15px;
  color: #8c30f5;
  background-color: #f1e4ff;
  box-shadow: 0 10px 30px 0px rgba(140, 48, 245, 0.15);
}
.header-register-button {
  padding: 7px 16px;
  color: #ffffff;
  background-color: #8c30f5;
  box-shadow: 0 10px 30px 0px rgba(140, 48, 245, 0.2);
}

.header-login-button:hover {
  background-color: #f6f1fc;
  color: #8c30f5;
}

.header-register-button:hover {
  background-color: #b16dff;
  color: #ffffff;
}

.basic-nav-dropdown > a {
  display: flex;
}

.basic-nav-dropdown a {
  text-decoration: none;
  color: inherit;
}

.basic-nav-dropdown > a::after {
  align-self: center;
}
